project_name = "milestone"
aws_region = "us-east-1"

db_instance_class = "db.t3.micro"
db_allocated_storage = 20
db_name = "milestone_db"
db_username = "postgres"
db_password = "change_me_in_production"

ecr_repository_url = "your-account-id.dkr.ecr.us-east-1.amazonaws.com/milestone"

task_cpu = "256"
task_memory = "512"
service_desired_count = 1 